.btn-style-new,
.active-btn {
  position: relative;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: 1px solid #9565E7;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  padding: 12px 20px;
  background: #9565E7;
  border-radius: 6px;
  transition: 0.5s;
  font-family: "Poppins", serif;
}

.btn-style-new:hover,
.active-btn {
  background: none;
  color: #9565E7;
}

.btn-style-new .icon {
  margin-right: 7px;
  position: relative;
  top: -1px;
}



.btn-style-border,
.pause-btn {
  position: relative;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: #9565E7;
  border: 1px solid #9565E7;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  padding: 12px 20px;
  background: transparent;
  border-radius: 6px;
  transition: 0.5s;
  font-family: "Poppins", serif;
}

.btn-style-border:hover,
.pause-btn:hover {
  background: #9565E7;
  color: #fff;
}

.btn-style-border .icon {
  margin-right: 7px;
  position: relative;
  top: -1px;
}


.login-page {
  position: relative;
  margin: 70px;
}

.login-page .login-inner {
  position: relative;
  background-color: #fff;
  padding: 50px;
  border-radius: 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background-position: top center;
  background-size: 100% 100%;
  background-image: url('../../static/images/login-bg.png');
}

.login-page .login-inner.cilent-form {
  background-image: url('../../static/images/client-form-bg.png');
}

.login-page .login-inner.login-main-page {
  overflow: hidden;
}

.login-page .login-inner.login-main-page .right-img-area {
  position: relative;
}

.login-page .login-inner.login-main-page .right-img-area .img-box {
  position: relative;
  margin-left: -87px;
  margin-right: -50px;
  margin-bottom: -50px;
}

.login-page .login-inner.login-main-page .right-img-area .img-box img {
  width: 100%;
}

.login-page .login-inner .left-area-form {
  width: calc(60% - 15px);
}

.login-page .login-inner .right-img-area {
  width: calc(40% - 15px);
}

.login-page .login-inner .left-area-form .form-inner {
  position: relative;
}

.login-page .login-inner .left-area-form .form-inner .top-title-area {
  margin-bottom: 100px;
  position: relative;
}

.login-page .login-inner .left-area-form .form-inner .top-title-area h2 {
  color: #242424;
  font-size: 52px;
  font-weight: 600;
}

.login-page .login-inner .left-area-form .form-inner .top-title-area h2 .icon {
  margin-left: 25px;
}

.login-page .login-inner .left-area-form .form-inner .top-title-area h4 {
  color: #754189;
  font-size: 62px;
  margin-top: 13px;
}

.login-page .login-inner .left-area-form .form-inner .top-title-area .logo-area {
  margin-bottom: 45px;
}

.login-page .login-inner .left-area-form .form-inner .top-title-area p {
  margin-bottom: 0;
  font-size: 29px;
  color: #242424;
}

.login-page .login-inner .left-area-form .form-inner .bottom-area {
  position: relative;
  width: 70%;
}

.login-page .login-inner .left-area-form .form-inner .bottom-area button {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.login-page .login-inner .right-img-area .img-box {
  position: relative;
  text-align: right;
}

.login-page .login-inner .right-img-area .img-box img {
  width: 73%;
}


.login-page .login-inner.login-form .left-area-form .form-inner .top-title-area {
  margin-bottom: 50px;
}

.login-page .login-inner.login-form .left-area-form .form-inner .bottom-area .group-form {
  position: relative;
  display: block;
  margin-bottom: 26px;
}

.login-page .login-inner.login-form .left-area-form .form-inner .bottom-area .group-form label {
  display: block;
  color: #505050;
  font-size: 16px;
  margin-bottom: 10px;
}

.login-page .login-inner.login-form .left-area-form .form-inner .bottom-area .group-form input {
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  padding: 8px 15px;
  width: 100%;
  color: #505050;
}

.login-page .login-inner .back-btn {
  position: absolute;
  top: -12px;
  left: -16px;
  background-color: #fff;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  box-shadow: 0 0 5px #00000020;
  transition: all 0.3s ease-in-out;
}

.login-page .login-inner .back-btn svg {
  position: relative;
  top: -2px;
  left: -1px;
}

.login-page .login-inner .back-btn:hover {
  zoom: 1.1;
}

.MuiRadio-root.Mui-checked {
  color: #9565E7;
}

.login-page .login-inner.login-form .left-area-form.add-user-form {
  height: 73vh;
  overflow-y: auto;
}

.login-page .login-inner.login-form .left-area-form .form-inner .bottom-area .group-form .MuiFormControl-root .MuiFormGroup-root {
  flex-direction: row;
  gap: 30px;
  margin-bottom: 0;
}

.login-page .login-inner.login-form .left-area-form .form-inner .top-title-area h2 {
  font-size: 30px;
  text-align: center;
}

.login-page .login-inner .left-area-form .form-inner .bottom-area h4.group-title {
  font-size: 17px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 11px;
  margin-bottom: 20px;
}

.login-page .login-inner.login-form .left-area-form.add-user-form::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.login-page .login-inner.login-form .left-area-form.add-user-form::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.login-page .login-inner.login-form .left-area-form.add-user-form::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
.login-page .login-inner.login-form .left-area-form.add-user-form::-webkit-scrollbar-thumb:hover {
  background: none;
}

.login-page .login-inner.login-form .form-inner .bottom-area {
  width: 100%;
}


.MuiFormControlLabel-root .MuiButtonBase-root {
  color: #9565E780;
}

.MuiFormControlLabel-root .Mui-checked {
  color: #9565E7 !important;
}


.information-sec .information-box ul {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.information-sec .information-box ul li p {
  margin-bottom: 0;
}

.information-sec .information-box ul li ul {
  margin-bottom: 21px;
}

.information-sec .information-box ul li ul li {
  list-style: disc;
  margin-left: 18px;
  padding-bottom: 5px;
}

.information-sec .information-box ul li ol,
.information-sec .information-box ul li ol li {
  list-style: decimal;
}

.information-sec .information-box ul li ol {
  padding: 0;
  margin-bottom: 21px;
}

.information-sec .information-box ul li ol li {
  margin-left: 15px;
  padding-bottom: 8px;
}

@media (max-width: 1610px) {
  .login-page {
    position: relative;
    margin: 50px 70px;
  }
}

@media (max-width: 1410px) {
  .login-page .login-inner {
    padding: 30px 50px;
    gap: 20px;
  }

  .login-page {
    position: relative;
    margin: 30px 70px;
  }

  .login-page .login-inner .left-area-form .form-inner .top-title-area {
    margin-bottom: 70px;
  }

  .login-page .login-inner .left-area-form .form-inner .top-title-area h2 {
    font-size: 45px;
  }

  .login-page .login-inner .left-area-form .form-inner .top-title-area h4 {
    font-size: 49px;
  }

  .login-page .login-inner .left-area-form .form-inner .top-title-area p {
    margin-bottom: 0;
    font-size: 23px;
    color: #242424;
  }

  .login-page .login-inner.login-form .left-area-form .form-inner .top-title-area h2 {
    font-size: 25px;
  }

  .login-page .login-inner .left-area-form .form-inner .bottom-area button,
  .login-page .login-inner.login-form .left-area-form .form-inner .bottom-area .group-form label,
  .login-page .login-inner.login-form .left-area-form .form-inner .bottom-area .group-form input,
  .login-page .login-inner.login-form .left-area-form .form-inner .bottom-area .group-form label .MuiTypography-root {
    font-size: 14px;
  }

  .login-page .login-inner .left-area-form .form-inner .bottom-area h4.group-title {
    font-size: 15px;
  }
}


@media (max-width: 1199px) {
  .login-page .login-inner .right-img-area .img-box img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .login-page .login-inner .right-img-area .img-box img {
    width: 100%;
  }

  .login-page .login-inner .left-area-form,
  .login-page .login-inner .right-img-area,
  .login-page .login-inner .left-area-form .form-inner .bottom-area {
    width: 100%;
  }

  .login-page .login-inner .left-area-form .form-inner .top-title-area {
    margin-bottom: 20px;
  }

  .login-page .login-inner.login-form .left-area-form.add-user-form {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .login-page {
    position: relative;
    margin: 25px;
  }
}

@media (max-width: 480px) {
  .login-page .login-inner .left-area-form .form-inner .top-title-area h2 {
    font-size: 38px;
  }

  .login-page .login-inner .left-area-form .form-inner .top-title-area h4 {
    font-size: 26px;
  }

  .login-page .login-inner {
    padding: 30px;
    gap: 30px;
  }

  .login-page .login-inner .left-area-form .form-inner .top-title-area h2 .icon img {
    width: 30px;
  }

  .login-page .login-inner.login-form .left-area-form .form-inner .bottom-area .group-form .MuiFormControl-root .MuiFormGroup-root {
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .login-page .login-inner .left-area-form .form-inner .top-title-area h2 {
    font-size: 30px;
  }

  .login-page .login-inner .left-area-form .form-inner .top-title-area h4 {
    font-size: 20px;
  }

  .login-page .login-inner.login-form .left-area-form .form-inner .top-title-area h2 {
    font-size: 20px;
  }

  .login-page .login-inner .left-area-form .form-inner .bottom-area button,
  .login-page .login-inner.login-form .left-area-form .form-inner .bottom-area .group-form label,
  .login-page .login-inner.login-form .left-area-form .form-inner .bottom-area .group-form input,
  .login-page .login-inner.login-form .left-area-form .form-inner .bottom-area .group-form label .MuiTypography-root {
    font-size: 12px;
  }

  .login-page .login-inner .left-area-form .form-inner .bottom-area h4.group-title {
    font-size: 14px;
  }
}