livekit-agents>=0.12.6
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-silero
livekit-plugins-elevenlabs
livekit-plugins-cartesia
livekit
pygame
python-dotenv
requests
asyncio
datetime
aiofile
scipy